:root {
    --swiper-theme-color: rgba(224, 218, 218, 0.9);
    --image-slide-one: url('../../image/image-slide-one.png');
    --image-slide-two: url('../../image/image-slide-two.png');
    --background-slide-one: #591d58;
    --background-slide-two: #591d58;
    --body-color: #e0dada;
    --white: #e0dada;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide-active {
    opacity: 1 !important;
}

/* Button */
.button-navigation-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    z-index: 999;
}

.button-navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-navigation-wrapper svg {
    width: 28px;
}

.swiper-button {
    position: relative;
    left: 0;
    width: 44px;
    height: 44px;
    color: black;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.swiper-button svg {
    scale: 0.85;
}
.swiper-button-next {
    margin-left: 5px;
    margin-right: 10px;
}

.swiper-button-prev {
    margin-right: 5px;
    margin-left: 10px;
}

.swiper-button-prev svg {
    transform: rotate(180deg);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: black;
    background-color: var(--white);
}

/* Pagination */
.swiper-horizontal > .swiper-pagination-progressbar {
    bottom: 0;
    top: auto;
}

/* Remove default arrow */
.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

/* Slide */
.slide-one {
    background: var(--image-slide-one) no-repeat center center;
    background-size: cover;
}

.slide-two {
    background: var(--image-slide-two) no-repeat center center;
    background-size: cover;
}

/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .button-navigation-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0;
    }

    .button-navigation-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .swiper-button,
    .swiper-pagination-fraction {
        scale: 0.85;
    }

    .swiper-horizontal > .swiper-pagination-progressbar {
        top: 0;
        bottom: initial;
    }
}

@media screen and (max-width: 600px) {
}
