.text-box-container {
    width: 85%;
    height: 80%;
    position: absolute;
    /* background: #ad5389;
    background: -webkit-linear-gradient(-45deg, #3c1153, #ad4784);  
    background: linear-gradient(-45deg, #3c1153, #ad4784);    */
    background: url("../../image/bg-2-box.png") no-repeat center center;
    border-radius: 15px;
    display: none;
}

.text-box-grid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-box-close {
    right: 0;
    cursor: pointer;
    position: absolute;
}

.text-box-close svg{
    scale: 0.7;
}

.text-box-title {
    font-family: var(--italic-font);
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    color: var(--white);
    text-align: center;
    margin-top: 40px;
    margin-right: 0;
}

.text-box-content {
    font-family: var(--italic-font);
    font-style: italic;
    font-size: 24px;
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 10px;
}

.text-box-image {
    transition-duration: 5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.text-box-image img{
    width: 300px;
}

.text-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .text-box-container {
        height: 85%;
    }

    .text-box-close svg{
        scale: 0.5;
    }
}

@media screen and (max-width: 992px) {
    .text-box-title {
        margin-top: 80px;
    }

    .text-box-wrapper {
        scale: 0.9;
        transform-origin: top;
    }
}

@media screen and (max-width: 768px) {
    .text-box-container {
        height: 90%;
    }

    .text-box-wrapper {
        flex-direction: column;
    }

    .text-box-image img{
        width: 150px;
    }

    .text-box-title {
        font-size: 30px;
    }

    .text-box-image {
        padding: 20px;
    }

    .text-box-content {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px) {
    .text-box-wrapper {
        height: fit-content;
    }

    .text-box-image img{
        width: 150px;
    }

    .text-box-title {
        font-size: 24px;
        margin-top: 60px;
    }

    .text-box-image {
        padding: 20px;
    }

    .text-box-content {
        font-size: 20px;
    }
}