.text-box-container {
    width: 85%;
    height: 80%;
    position: absolute;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #3c1053, #ad4b86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #3c1053, #ad4b86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 15px;
    display: none;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .text-box-container {
        height: 700px;
    }
}

@media screen and (max-width: 992px) {
    .text-box-container {
        height: 650px;
    }
}

@media screen and (max-width: 768px) {
    .text-box-container {
        height: 600px;
    }
}

@media screen and (max-width: 600px) {
    .text-box-container {
        height: 550px;
    }
}